<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>85586840117-hvmn5rcsuahuic0op2v7004b4k00n2dh.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.85586840117-hvmn5rcsuahuic0op2v7004b4k00n2dh</string>
	<key>API_KEY</key>
	<string>AIzaSyDlwb1AnRMftr08OHUn36T_OU01mGRosJI</string>
	<key>GCM_SENDER_ID</key>
	<string>85586840117</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.prolific</string>
	<key>PROJECT_ID</key>
	<string>prolific-f8b25</string>
	<key>STORAGE_BUCKET</key>
	<string>prolific-f8b25.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:85586840117:ios:2ef8499736c75952eb7f7c</string>
</dict>
</plist>